# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu': []
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Atom Spotified'
      'submenu': [
        {
          'label': 'Toggle'
          'command': 'atom-spotified:toggle'
        }
      ]
    ]
  }
]
